{% extends "padre.html" %}
{% load static %}

{% block titulo %}Acerca De{% endblock %}

{% block contenidoQueCambia %}

<body>
    <div class="container">
        <div class="row">
            <div class="card m-2 mx-auto" style="width: 18rem;">
                <img src="{% static 'assets/img/FaustoMongini.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Fausto Mongini</h5>
                    <p>Argentino 18 años</p>
                    <p>Dedicado y apacionado por el conocimiento</p>
                    <p>Bachillerato y estudainte de ingeneria electronica en la utn</p>
                </div>
            </div>

            <div class="card m-2 mx-auto" style="width: 18rem;">
                <img src="{% static 'assets/img/FedeMontagna.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Federico Montagna</h5>
                    <p>Argentino, 29 años.</p>
                    <p>Sociológo y trabajador del Ministerio de Desarrollo Social de la Nación.</p>
                    <p>Estudio Maestría en Administración pública y Diplomatura en Datos y políticas públicas. Me interesa el análisis de datos para resolver problemas.</p>
                </div>
            </div>

            <div class="card m-2 mx-auto" style="width: 18rem;">
                <img src="{% static 'assets/img/FedeSilva.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Federico Silva</h5>
                    <p>Uruguayo, 20 años, Estudiante y trabajador.</p>
                    <p>Apasionado del deporte, la música y el cine.</p>
                    <p>Conocimientos en programación Java, JS, CSS y HTML desde 2020 y Python desde 2022.</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}