{% extends "padre.html" %}
{% load static %}

{% block titulo %}Críticas{% endblock %}

{% block contenidoQueCambia %}
<body>
<div class="container">
    <div class="row">

        <h1 class="text-center"><b>Críticas disponibles</b></h1>  
            <form class="form-inline m-3" action="{% url 'Inicio' %}" method="GET">
                <input class="form-control" type="text" placeholder="Buscar Restaurante por nombre" aria-label="Search" name = "search">
                <button class="btn btn-outline-success m-2" type="submit">Buscar</button>
                <a class="btn btn-outline-primary m-3" href="{% url 'criticas_crear' %}" role="button">Agregar Crítica</a>
            </form>

        {% for critica in object_list %} 
            <div class="card m-2 mx-auto" style="width: 30rem;">
                <a class="btn btn-dark m-4" href="/criticas_detalle/{{critica.id}}/" role="button"><b>{{critica.titulo}}</b></a>
                <div class="card-body">
                    <p class="card-text"><h5><b>Descripcion:</b></h5> {{critica.descripcion}}</p>
                </div>
                <br></br>
            </div>  
        {% endfor %}
    </div>
</div>
<br>
</body>
{% endblock %}