{% extends "padre.html" %}
{% load static %}

{% block titulo %}Recetas encontradas{% endblock %}

{% block contenidoQueCambia %}
<body>
    <div class="container">
        <div class="row">
            
            <h1 class="text-center"><b>Recetas encontrados</b></h1>
                {% for recetas in recetas %}  
                    <div class="card m-2 mx-auto" style="width: 30rem;">
                        <img src="{{recetas.imagen_de_comida}}" class="card-img-top" alt="Sin imagen">
                        <a class="btn btn-dark m-2" href="/recetas/{{recetas.id}}/" role="button"><b>{{recetas.nombre_de_receta}}</b></a>
                        <div class="card-body">
                            <p class="card-text"><b>Ingredientes:</b> {{recetas.ingredientes}}</p>
                            <p class="card-text"><b>Autor:</b> {{recetas.autor}}</p>
                        </div>
                        <br></br>
                    </div>  
                {% endfor %}
        </div>
    </div>
    <br>

    {% if errors %}    
        <center>
            <h3 class="m-2" style="color : #ff0000;">{{errors}}</h3>
            <br>
            <div class="container mx-auto" style="width: 350px;">
                    <form class="form-inline mx-auto ml-auto" action="{% url 'Buscar_Receta' %}" method="GET">
                        <input class="form-control" type="text" placeholder="Buscar Recetas" aria-label="Search" name = "search">
                        <button class="btn btn-outline-success m-2" type="submit">Buscar</button>
                    </form>
            </div>
        </center>
        <br>
    {% endif %}
</body>
{% endblock %}