{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}


<body>
    <div class="card m-2 mx-auto" style="width: 50rem;">
        <img src="{{object.imagen_de_comida}}" class="card-img-top" alt="Sin imagen">
        <div class="card-body">
            <h5 class="card-title text-center"><b></b></h5>
            <p class="card-text"><h5><b>Nombre:</b></h5> {{object.nombre_de_receta}}</p>
            <p class="card-text"><b>Ingredientes:</b> {{object.ingredientes}}</a></p>
            <p class="card-text"><b>Instrucciones:</b> {{object.instrucciones}}</p>
            <p class="card-text"><b>Autor:</b> {{object.autor}}</p>
        </div>
        <br></br>
        <a class="btn btn-outline-dark m-2" href="/recetas/edicion/{{object.id}}/" role="button">Editar</a>
        <a class="btn btn-outline-danger m-2" href="/recetas/eliminar/{{object.id}}/" role="button">Eliminar</a>
        <a class="btn btn-success m-3" href="/recetas_lista/" role="button">Volver a Recetas</a>

    </div>
    <br>
    <br>
</body>
{% endblock %}