{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<div class="container">
    <h1 class="mx-auto">Recetas</h1>
            <form class="form-inline m-3" action="{% url 'Buscar_Receta' %}" method="GET">
                <input class="form-control" type="text" placeholder="Buscar Receta" aria-label="Search" name = "search">
                <button class="btn btn-outline-success m-2" type="submit">Buscar</button>
                <a class="btn btn-outline-primary m-3" href="{% url 'CrearRecetas' %}" role="button">Agregar Receta</a>
            </form>
        </div>
    <div class="row">



        <br>
        <br>
        {% for recetas in object_list %}  
        <div class="card m-2 mx-auto" style="width: 30rem;">
            <img src="{{recetas.imagen_de_comida}}" class="card-img-top" alt="Sin imagen">
            <a class="btn btn-dark m-2" href="/recetas/{{recetas.id}}/" role="button"><b>{{recetas.nombre_de_receta}}</b></a>
            <div class="card-body">
                <p class="card-text"><b>Ingredientes:</b> {{recetas.ingredientes}}</p>
                <p class="card-text"><b>Autor:</b> {{recetas.autor}}</p>
            </div>
            <br></br>
        </div>  
    {% endfor %}
    </div>
</div>
<br>
<br>

{% endblock %}
