{% extends "padre.html" %}
{% load static %}

{% block titulo %}Recetas{% endblock %}

{% block contenidoQueCambia %}

<div class="container">
    <center><h1 class="mx-auto">Recetas</h1></center>
            <form class="form-inline m-3" action="{% url 'Buscar_Receta' %}" method="GET">
                <input class="form-control" type="text" placeholder="Buscar Receta" aria-label="Search" name = "search">
                <button class="btn btn-outline-success m-2" type="submit">Buscar</button>
                <a class="btn btn-outline-primary m-3" href="{% url 'CrearRecetas' %}" role="button">Agregar Receta</a>
            </form>
        </div>
    <div class="row">



        <br>
        <br>
        {% for recetas in object_list %}
            <div class="col-3">  
                <div class="card m-2" style="width: 18rem;">
                    <img src="{{recetas.imagen_de_comida}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{recetas.nombre_de_receta}}</h5>
                        <p class="card-text">{{recetas.autor}}</p>
                        <p class="card-text">{{recetas.ingredientes}}</p>
                        <p class="card-text">{{recetas.instrucciones}}</p>
                        <a class="btn btn-outline-dark m-2" href="/recetas/{{recetas.id}}/" role="button">Ver detalles</a>
                        <a class="btn btn-outline-danger m-2" href="/recetas/eliminar/{{recetas.id}}/" role="button">Eliminar receta</a>
                    </div>
                </div>
            </div> 
        {%endfor%}
    </div>
</div>
<br>
<br>

{% endblock %}
