{% extends "padre.html" %}
{% load static %}

{% block titulo %}Nuevo Resto{% endblock %}

{% block contenidoQueCambia %}
    <center><h5 class="m-5"><b>Ingrese la informacion de un nuevo restaurante:</b></h5></center>
        <form action="" method="POST">
            <table>
                <div class="container" style="width: 30rem;">
                    {% csrf_token %}
                    {{form.as_p}}
                </div>
            </table>
            <center><input class="btn btn-success m-3" type="submit" value="Agregar Restaurante"></center>
            <br>
        </form>
{% endblock %}