{% extends "padre.html" %}
{% load static %}

{% block titulo %}Restaurantes{% endblock %}

{% block contenidoQueCambia %}
<body>

    <div class="mx-auto" style="width: 400px;">
        <form class="form-inline m-3" action="{% url 'Inicio' %}" method="GET">
            <input class="form-control" type="text" placeholder="Buscar Restaurante por nombre" aria-label="Search" name = "search">
            <button class="btn btn-outline-success ml-4" type="submit">Buscar</button>
        </form>
    </div>

    <a class="btn btn-outline-primary m-3" href="{% url 'Inicio' %}" role="button">Sumar Restaurante</a>

    <div class="containter text-center m-2">
        <div class="rounded d-inline-block p-3 mb-2 bg-secondary text-white"><b>Restaurantes disponibles</b></div>  
    </div>

<div class="containter">
    <div class="row">
        {% for resto in object_list %} 
            <div class="col-3">  
                    <div class="card m-2" style="width: 18rem;">
                    <img src="{{resto.imagen}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title text-center">{{resto.nombre}}</h5>
                    <p class="card-text">{{resto.apertura}}</p>
                    <p class="card-text">{{resto.direccion}}</p>
                    <p class="card-text">{{resto.localidad}}</p>
                    <p class="card-text">{{resto.provincia}}</p>
                    <a class="btn btn-outline-primary m-2" href="{{resto.link}}" role="button">Sitio Web</a>
                    <a class="btn btn-outline-dark m-2" href="/biblio_detalle/{{resto.id}}/" role="button">Ver detalles</a>
                    <a class="btn btn-outline-danger m-2" href="{% url 'Inicio' %}" role="button">Eliminar resto</a>
                    </div>
            </div>  
        {% endfor %}
    </div>
</div>
<br>
</body>
{% endblock %}